@model ChooseYourBike.Models.Fork

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Fork</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ForkName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ForkName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ForkType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ForkType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShockStep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ShockStep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Block)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Block)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Diameter)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Diameter)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
